---
import LucideIcon from "./LucideIcon.astro";

interface Badge {
    icon: string | any,
    href: string
    color: string
    svg?: boolean
}

interface Props {
    badges: Badge[]   
    size: string
}

const { badges, size } = Astro.props

---
<span class="flex gap-2 bg-ctp-crust p-2 pl-3 pr-3 rounded-full h-min">
    {badges.map(badge => 
    <a href=`${badge.href}` target="_blank" rel="noopener noreferrer">
        { badge.svg && badge.icon && (
        <badge.icon width={size} height={size} style={`stroke:${badge.color}`}
        class="hover:rotate-15 hover:scale-110 ease-in hover:ease-out transition-transform active:scale-80"
        />
        )}
        { !badge.svg && (
        <LucideIcon name=`${badge.icon}` width=`${size}` height=`${size}` style={`stroke:${badge.color}`} 
            class="hover:rotate-15 hover:scale-110 ease-in hover:ease-out transition-transform active:scale-80"
        />
        )}
    </a>
    )}
</span>
