---
interface Badge {
    icon: string,
    href: string
    color: string
}

interface Props {
    type: string
    icon?: string,
    title: string,
    subtitle: string,
    tag?: string,
    tagcolor?: string,
    href: string
    badges?: Badge[]
}

const { type, icon = "Box", title, subtitle, tag, tagcolor, href, badges } = Astro.props

var color = "--catppuccin-color-yellow"
if (type=="project") {
    color = "--catppuccin-color-red"
} else if (type=="repo") {
    color = "--catppuccin-color-peach"
} else if (type=="team") {
    color = "--catppuccin-color-mauve"
} else if (type=="misc") {
    color = "--catppuccin-color-maroon"
} else if (type=="freelance") {
    color = "--catppuccin-color-sky"
}
const colorCss = "var(" + color + ")"

var iconName = icon
if (iconName == "Box") {
    if (type=="project") {
        iconName = "Archive" 
    } else if (type=="repo") {
        iconName = "BookMarked"
    } else if (type=="team") {
        iconName = "Users"
    } else if (type=="misc") {
        iconName = "Box"
    } else if (type=="freelance") {
        iconName = "ReceiptText"
    }
}

import LucideIcon from "./LucideIcon.astro"
import Badgebar from "./Badgebar.astro"
import Tag from "./Tag.astro"
---
<div class="p-4 border border-ctp-surface0 flex flex-col -mt-px w-full">
    <div class="flex justify-between gap-4">
        <a href=`${href}` class="flex flex-col gap-1 group">
            <span class="text-xl flex gap-2 items-center">
                <LucideIcon name=`${iconName}` width="20" height="20" style={`stroke:${colorCss}`} /> 
                <span class="group-hover:underline font-bold">{title} </span>
                {tag && tagcolor && (
                    <Tag text={tag} color={tagcolor}/>
                )}
            </span>
            <span class="text-sm">
                <span class="flex gap-1">{subtitle}</span>
            </span>
        </a>
        <span>
            { badges && (
                <Badgebar badges={badges} size="20"/>    
            )}
        </span>
    </div>
    <div>
        <slot/>
    </div>
</div>
